body {
    background-color: #F5E3E0;
}

h1 {
    text-align: center;
}

.forms {
    text-align: center;
}

h1, h2, p, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #630031;
}

.nav-link {
    font-size: 14pt;
}

nav {
    border: 2px;
}